// variables tipograficas
$mukta-reg:'Mukta', sans-serif;
$mukta-bold:700;
$mochily:'Mochiy Pop P One', sans-serif;

$fontsize:3rem;

//Variables de colores
// color del blanco al gris claro

$naranjo:rgb(202, 71, 38);
$celeste:#96d8f1;
$gris:#a8a8a8;
$blanco:rgb(219, 218, 218);


//tamaños fuentes (sin px para usar el converter de mixin)
$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;

//Breakpoints

